.container {
  position: fixed;
  z-index: 999;
  width: 720px;
  border: 2px solid #4c4cff;
  border-radius: 16px;
  left: 100px;
  top: 100px;
  background-color: rgba(28, 28, 33, 1);
}

.close_button_and_title {
  width: 640px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
